<html>
    <head>
        <title>Packing stock site</title>
    </head>
    <body>
        <div>
            <h3><a href= "">RANKING</a></h3>
        </div>

        <div>
            <p>STOCK NO.1 : -----</p>
            <p>STOCK NO.2 : -----</p>
            <p>STOCK NO.3 : -----</p>
            <p></p>
            <P>Fist Check Please!</P>            
        </div>

        <div>
            <p></p>
            <h3><a href= "">INSERT PACKING</a></h3>
            <P>Push the button and Insert Packing Name, Size, Price, Qty</P>            
        </div>

        <div>
            <p></p>
            <h3><a href= "">EXTRACT PACKING</a></h3>
            <P>Push the button and Extract Packing Name, Size, Price, Qty</P>            
        </div>
        
    </body>
    
</html>